name: Train Mobilenet V2

on:
  push:
  pull_request: 
    types: [opened]

jobs:
  
  train-mobilenetv2:
    runs-on: ubuntu-latest
    container: 
      image: nclgbd/mltraindev:develop
    steps:
    - uses: actions/checkout@v2
    - uses: iterative/setup-dvc@v1
    - name: Setup env
      run: |
        dvc get https://github.com/iterative/dataset-registry tutorials/versioning/data.zip
        unzip data.zip
        mv data/train .
        mv data/validation .

        # Remove the directories since they're not needed anymore
        rm -f data.zip
        rm -rf data/train
        rm -rf data/validation
    - name: Train model
      shell: bash -l {0}
      run: |
        mkdir -p media/ incorrect_images/ saved_models/
        ls -a
        conda activate torch_base
        python -m pytorch_vision_utils.train --model_name "mobilenetv2" --parameters_path "parameters.json" --debug "False"
        zip -r media_mobilenetv2.zip media
    
    - name: Save mobilenetv2 model
      uses: actions/upload-artifact@v2
      with:
        name: mobilenetv2
        path: saved_models/mobilenetv2.pth
    - name: Save mobilenetv2 report
      uses: actions/upload-artifact@v2
      with:
        name: mobilenetv2_report
        path: media_mobilenetv2.zip
